$white: #ffffff;
$black: #000000;
$green: #9acd55;
$moderate-green: #00a650;
$light-grey: #f9f9f9;
$grey: #d0d0d0;
$transparent: transparent;

$brand-primary: #15194a;
$brand-secondary: #777777;
$brand-tertiary: #8bbfd3;

$color-secondary: #ffffff;

$text-color-primary: #2f2f44;
$text-color-secondary: #2e3ce5;